html
{
	background-image: url(../images/9.jpg);
	background-size: cover;
	box-sizing: border-box;
}
h1
{
font-family: courier;
color: orange;
}
h4
{
	font-family: courier;
	font-size: x-large;
	font-weight: bold;
	color: orange;
}

body 
{
    max-width: 1024px;
    min-width: 300px;
    height: auto;
    margin: auto;
    background-color: white;
}
.top-bar
{background-color: lightgreen;}
.top-bar a 
{color: black;}


.responsive-blog-footer

{
	border: 2px groove yellow;
	margin-top: 5px;
	padding: 2%;
}

#footerimage
{width: 100%;}


#cart
{
	width: 100%;
	border: 2px solid blue;
	margin-top: 10px;


}

#video
{
	margin-top: 5px;
}

